@media screen and (max-width: 768px) {

  .container {
    width: 100%; 
    padding: 20px;
    margin: 0;
    overflow-x: hidden;
  }

  .header {
    margin-bottom: 40px;
  }

  .header h1 {
    width: 100%;   
    font-size: 28px; 
    padding: 0 10px;
  }

  .header h2 {
    font-size: 14px;
    padding: 0 20px;
  }

  .card {
    position: relative;
    transform: translateY(40%);
    height: 350px; 
  }

  .btn-insight {
    margin-left: 0;
    width: 200px;
    display: block;
    text-align: center;
    transform: translateY(600%);
    height: 40px;
  }

  .carousel-track {
width: 600px !important;
  height: 370px;    
  padding: 15px;
    transform: translateY(230%);

  }



  /* Ajuste das Setas no Mobile */
   .arrow {
    display: flex;
    width: 35px;             /* Tamanho fixo e pequeno da área de clique */
    height: 35px;
    position: absolute;
    top: auto; 
    border-radius: 50%;      /* Deixa redondo */
    padding: 0;              /* Remove espaços extras */
    overflow: hidden;     
    transform: translateY(890%);   /* Garante que nada saia da bolinha */
  }

  .left { 
    display: flex !important; 
    left: 75%;               /* Centraliza mais à esquerda do meio */
  }

  .right { 
    display: flex !important; 
    right: 0%;              /* Centraliza mais à direita do meio */
  }


  .disque-section {
    display: flex;
    flex-direction: column; 
    margin-top: 50px;
    gap: 30px;
    transform: translateY(28%);
  }

  .disque180 {
    width: 100%; 
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    text-align: justify;
  }

  .texto, .video-area {
    width: 100%;
  }

  .texto p {
    width: 100%;
    text-align: justify;
  }

  .libras {
    width: 100%;
    margin: 0 auto;
  }

  .imgLibra {
    width: 100%;
    height: auto;
  }

  .cards-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    transform: translateY(48%);
  }

  .card-info, .card-info2 {
    width: 100%; 
    padding: 20px;
  }

  .card-info h3, .card-info2 h3 {
    font-size: 24px;
  }

  .footer {
    padding: 50px 20px;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    transform: translateY(50%);
  }

  .illustration {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }
  

  .ondas, .ondasb, .bola-neon, .flores {
    display: none; 
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 90%;
  }
  
  .disque-section, .cards-bottom {
    grid-template-columns: 1fr; 
  }

  .disque180, .card-info2 {
    width: 100%;
  }
}
